/*--------------------------------------------------------------
# body start
--------------------------------------------------------------*/
	body a{
		text-decoration: none;
	}
	.entry-content a:not(.more-link):not(.button):not(.wp-block-button__link), .entry-summary a:not(.more-link):not(.button):not(.wp-block-button__link), .widget_text a:not(.more-link):not(.button) {
    	text-decoration: underline;
	}
/*--------------------------------------------------------------
# body start
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# top header start
--------------------------------------------------------------*/
.top_header {
    padding: 10px;
}
.top_header p {
    margin: 0px;
}
.topbar_info_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_contact_data {
    display: flex;
    align-items: center;
}
.contact_info, .email_info {
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.contact_info i, .email_info i {
    padding-right: 8px;
}
a.social_icon i {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}

/*--------------------------------------------------------------
# top header end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# header start
--------------------------------------------------------------*/
	.search_call_btn_info {
	    display: flex;
	    align-items: center;
	}
	.add_cart_icon a {
	    padding: 0px 10px;
	    font-size: 18px;
	}
	.header_info h1.site-title, .header_info p.site-description {
	    margin: 0px;
	}
	.searchlink {
	  cursor: pointer;
	  display: block;
	  float: left;  
	  padding: 0px 10px;
	  position: relative;
	}
	div#cl_serch {
	    cursor: pointer;
	    display: block;
	    float: left;
	    position: relative;
	}
	.cl_serch.open .searchform {
	    display: block;
	}
	.searchform {
	    display: none;
	    position: absolute;
	    width: 200px;
	    height: 53px;
	    line-height: 40px;
	    top: 27px;
	    right: 0px;
	    padding: 0 15px;
	    cursor: default;
	    border-radius: 2px;
	    border-style: solid;
	    border-width: 1px;
	    border-color: #e1e1e1;
	    z-index: 9999999;
	    background-color: #fff;
	}
	#search {
	    display: block;
	    position: relative;
	}
	#s {
	    width: 135px;
	    height: 38px;
	    background: #fff;
	    border: 1px solid #e1e1e1;
	    color: #888;
	    margin: 7px 0;
	}
	.sbtn {
	    display: block;
	    position: absolute;
	    font-size: 0.6em;
	    cursor: pointer;
	    right: 0px;
	    top: 8px;
	    margin: 0px;
	    width: 35px;
	    border-radius: 6px;
	    padding: 10px;
	}
	.cl_serch.openlllll .searchform {
	    display: block;
	}
	.call_button_info {
	    display: grid;
	    grid-template-columns: auto auto auto;
	    align-items: center;
	    overflow-wrap: anywhere;
	    justify-content: space-between;
	}
	body.admin-bar .main_site_header.is-sticky-menu {
	    top: 32px;
	}
	.main_site_header.is-sticky-menu {
	    top: 0px;
	    position: fixed;
	    left: 0;
	    right: 0;
	    z-index: 999;
	    animation: 1s ease-in-out 0s normal none 1 running fadeInDown;
	}
	.main_site_header.is-sticky-menu .header_info {
	    padding: 0px;
	}
/*--------------------------------------------------------------
# header end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Sidebar start
--------------------------------------------------------------*/
	.sharksdesign_container_info.right_sidebar {
	    display: flex;
	}
	.sharksdesign_container_info.left_sidebar {
	    display: flex;
	}
	.sharksdesign_container_info.left_sidebar {
	    display: flex;
	    flex-direction: row-reverse;
	}
	.sharksdesign_container_info.no_sidebar aside.widget-area, .home .sharksdesign_container_info.no_sidebar aside.widget-area{
		display: none;
	}
	.sharksdesign_container_info.no_sidebar main#primary, .home .sharksdesign_container_info.no_sidebar main#primary{
		width: 100%;
	}
	.blog aside.widget-area{
		display: none;
	}
	.blog main#primary{
		width: 100%;
	}
	.home main#primary{
		width: 100%;
		margin:15px;
	}
	.home aside.widget-area{
		display: none;
	}

	aside.widget-area section h2 {
	    margin: 0px;
	}
	aside.widget-area .widget {
	    margin: 15px;
	    margin-bottom: 1.875rem;
	    overflow: hidden;
	    position: relative;
	}
	aside.widget-area section h2, aside.widget-area label.wp-block-search__label {
	    margin-bottom: 0;
	    line-height: 1;
	    padding: 18px;
	    margin: 0px;
	    border-bottom: 1px solid #E48632;
	}
	.wp-block-group__inner-container ul, .wp-block-search__inside-wrapper, .no-comments.wp-block-latest-comments, .wp-block-group__inner-container ol, .no-comments.wp-block-latest-comments {
	    margin: 0px;
	    padding: 15px;
	    padding-left: 15px !important;
	    list-style: none;
	}
	.wp-block-group__inner-container ul li, .wp-block-group__inner-container ol li {
	    padding: 5px 0px;
	}
	.wp-block-group__inner-container ul li a:before, .wp-block-group__inner-container ol li a:before, .no-comments.wp-block-latest-comments:before {
	    content: "\f101";
	    font: normal normal normal 14px /1 'FontAwesome';
	    margin-right: 10px;
	    font-size: 17px;
	    font-weight: bold;
	}
	button.wp-block-search__button {
	    padding: 5px 15px;
	}
	.main_container ol, .main_container ul {
	    padding: 0px;
	}
	.post-navigation .nav-previous, .post-navigation .nav-next{
	    text-align: left;
	    margin-right: 5px;
	}
	.nav-previous a, .nav-next a{
		display: inline-block;
	}
	.blog header.entry-header {
	    display: flex;
	    flex-direction: column-reverse;
	    margin-top: 10px;
	}
	.blog span.posted-on {
	    position: relative;
	    top: -20px;
	    margin-right: 16px;
	    margin-left: -40px;
	    padding: 13px 13.58px;
	    color: #fff;
	    background-color: #000;
	    z-index: 0;
	}
	.blog span.posted-on:before {
	    content: "";
	    position: absolute;
	    bottom: -23px;
	    left: 0;
	    width: 15px;
	    height: 24px;
	    background-color: #353638;
	    clip-path: polygon(0 0, 100% 100%, 100% 0);
	    z-index: -1;
	}
/*--------------------------------------------------------------
# Sidebar end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# blog start
--------------------------------------------------------------*/
	time.entry-date.published:before {
	    content: "\f133";
	    font: normal normal normal 14px/1 'FontAwesome';
	    font-size: 15px;
	    display: inline-block;
	    padding-right: 6px;
	}
	span.byline:before {
	    content: "\f183";
	    font: normal normal normal 14px/1 'FontAwesome';
	    font-size: 15px;
	    display: inline-block;
	    padding-right: 6px;
	    font-weight: 900;
	}
	span.cat-links:before {
	    content: "\f02b";
	    font: normal normal normal 14px/1 'FontAwesome';
	    font-size: 15px;
	    display: inline-block;
	    padding-right: 6px;
	    font-weight: 900;
	}
	span.comments-link:before {
	    content: "\f075";
	    font: normal normal normal 14px/1 'FontAwesome';
	    font-size: 15px;
	    display: inline-block;
	    padding-right: 6px;
	    font-weight: 900;
	}
	span.cat-links, span.byline, time.entry-date.published{
	    margin-right: 10px;
	}
	/*main#primary {
	    margin: 15px;
	    padding: 15px;
	}*/
	main#primary article {
	    visibility: visible;
	    animation-delay: 0.3s;
	    animation-name: zoomIn;
	}
	main#primary figure.post-thumbnail {
	    position: relative;
	    overflow: hidden;
	    overflow-x: hidden;
	    overflow-y: hidden;
	    margin: 0;
	}
	main#primary img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
	    -webkit-transition: transform 2s, filter 1.5s ease-in-out;
	    -moz-transition: transform 2s, filter 1.5s ease-in-out;
	    -o-transition: transform 2s, filter 1.5s ease-in-out;
	    -ms-transition: transform 2s, filter 1.5s ease-in-out;
	    transition: transform 2s, filter 1.5s ease-in-out;
	    transform-origin: center center;
	    width: 100%;
	    opacity: 1;
	}
	main#primary article:hover figure.post-thumbnail img.attachment-post-thumbnail {
	    -webkit-transform: scale(1.15,1.15);
	}
	/*img {
	    max-width: 100%;
	    height: auto;
	    vertical-align: middle;
	    border: 0;
	    display: block;
	}*/

	/* List View */
	.main_containor.list_view article {
	    display: flex;
	    justify-content: space-between;
	}
	.main_containor.list_view article figure.post-thumbnail {
	    width: 50%;
	}
	.main_containor.list_view article .main_container {
	    width: 50%;
	}
	.main_containor.list_view .main_container {
	    padding-left: 40px;
	} 
	.blog .sharksdesign_container_info.content_width.list_view .main_containor.list_view article {
		text-align: left;
	    padding: 25px;
	    position: relative;
	    border-radius: 20px;
	    position: relative;
	    z-index: 1;
	    transition: 0.5s all ease-in-out;
	}
	.blog .sharksdesign_container_info.content_width.grid_view .main_containor.grid_view article {
	    text-align: left;
	    padding: 25px;
	    position: relative;
	    border-radius: 20px;
	    position: relative;
	    z-index: 1;
	    transition: 0.5s all ease-in-out;
	    display: inline-block;
	}
	.sharksdesign_container_info.full_width{
		padding: 40px;
		margin: 0px;
	}
	.sharksdesign_container_info.full_width main#primary article {
	    padding: 20px;
	}
	/*.container_info {
	    margin: 15px;
	    padding: 15px;
	}*/
	.read_btn {
	    display: none;
	    margin-top: 15px;
	}
	body.blog .read_btn {
	    display: block;
	}
    body.blog time.entry-date.published{
    	margin: 0px;
    }
    body.blog time.entry-date.published:before {
	    content: unset;
	}
/*	body.blog main#primary .container_info{
		background-color: unset;
		margin: 0px;
    	padding: 0px;
	}*/
/*--------------------------------------------------------------
# blog end
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# breadcrumb start
--------------------------------------------------------------*/
	.home .breadcrumb_info {
	    display: none;
	}
	.breadcrumb-heading h1 {
	    margin: 0px;
	}
	.breadcrumb_info {
	    text-align: center;
	    padding: 60px 0px;
	}
	ol.breadcrumb-list {
	    margin: 0px;
	    padding: 0px;
	    list-style: none;
	    margin-top: 15px;  
	    display: inline-block;
	    max-width: max-content;
	    padding: 15px 10px;
	    border-radius: 100px;
	}
	ol.breadcrumb-list li {
	    display: inline-block;
	}
	i.fa.fa-home {
	    font-size: 20px;
	    transition: transform .7s ease-in-out;
	}
	section#breadcrumb-section a i:hover {
	    transform: rotate(360deg);
	}
	button.wp-block-search__button {
	    padding: 8px 10px;
	}
/*--------------------------------------------------------------
# breadcrumb end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# featured slider start
--------------------------------------------------------------*/
	.hentry-inner {
	    background-color: #222222;
	    background-position: center;
	    background-repeat: no-repeat;
	    -webkit-background-size: cover;
	    background-size: cover;
	    display: -webkit-box;
	    display: -webkit-flex;
	    flex-direction: column;
	    height:550px;
	    overflow: hidden;
	    position: relative;
	    padding: 88px 50px;
	}
	.hentry-inner .post-thumbnail {
	    background-color: transparent;
	    background-image: linear-gradient( 0deg,#0c0c0c 0%,#000000 20%);
	    opacity: .50;
	    transition: background .3s,border-radius .3s,opacity .3s;
	}
	.hentry-inner .post-thumbnail img {
	    left: 0;
	    object-fit: cover;
	    top: 0;
	    transform: none;
	    position: absolute;
	    height: 100%;
	}
	.hentry-inner .entry-container {
	    margin: 0px 150px 0;
	    /* max-width: 570px; */
	    margin-top: auto;
	    margin-bottom: auto;
	}
	.featured_slider_title h1 {
	    margin-top: 0px !important;
	}
	.featured_slider_disc, .featured_slider_title h1 {
	    margin: 25px 0px;
	}
	.owl-item.active .entry-container {
	    opacity: 1;
	    visibility: visible;
	    top: 0;
	    z-index: 99999;
	}
	.featured_slider_image button.owl-prev, .featured_slider_image button.owl-next {
	    outline: none;
	    opacity: 1;
	    letter-spacing: 0;
	    position: absolute;
	    top: 40%;
	    text-align: center;
	    text-decoration: none;
	    text-shadow: none;
	    z-index: 199;
	}
	.owl-prev {
	    left: 20px;
	}
	.owl-next {
	    right: 20px;
	}
	i.fa.fa-angle-right, i.fa.fa-angle-left {
	    font-size: 20px;
	    width: 45px;
	    height: 45px;
	    font-weight: bold;
	    line-height: 40px;
	}
	.image_btn.button a.buttons {
	    margin: 10px 0px;
	}
	.hentry-inner .entry-container {
	    display: block;
	    opacity: 0;
	    position: relative;
	    visibility: hidden;
	    top: 150px;
	    transition: all 1s ease;
	    z-index: 9;
	}
	header.featured_slider_title.entry-header {
	    margin-left: 0px;
	}
	.featuredimage_slider {
	    text-align: center;
	}
	.featured_slider_image .owl-dots {
	    display: none;
	}
/*--------------------------------------------------------------
# featured slider end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Featured Section
--------------------------------------------------------------*/
	.featured-section_data {
	    text-align: center;
	    padding: 50px 0px;
	}
	.card-container.featured_content {
	    display: flex;
	    justify-content: center;
	    flex-wrap: wrap;
	}
	div#featured-section {
	    position: relative;
	    z-index: 1;
	    text-align: center;
	    display: block;
	    opacity: 1;
	    top: 0px;
	    transition: all 1s ease;
	}
	.section-featured-wrep {
	    text-align: center;
	    padding: 40px 20px;
	    width: 255px;
	    margin: 10px;
	    transition: all .8s;
	    border-radius: 10px;
	}
	.section-featured-wrep i {
	    padding: 20px;
	    border-radius: 100px;
	    width: 70px; 
	    height: 70px; 
	    line-height: 24px;
	}
	.featured-title h4 {
	    margin: 15px 0px 10px 0px;
	}
	.featured-title .entry-content {
	    margin: 0px;
	}
	.section-featured-wrep:hover .side.featured-thumbnail {
	    transition: transform .5s ease-in-out;
	    transform: translateY(-10px );
	}
/*--------------------------------------------------------------
# Featured Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# About Section Start
--------------------------------------------------------------*/
	.about_section_container {
	    display: flex;
	    width: 100%;
	    padding: 30px 0px;
	}
	.about_featured_image, .about_container_data {
	    width: 50%;
	}
	.about_section_info {
	    padding: 50px 10px;
	}
	.about_container_data {
	    padding-left: 20px;
	}
	.about_featured_image {
	    padding-right: 20px;
	}
	.about_icon.buttons i {
	    padding: 20px;
	    font-size: 25px;
	}
	.about_container_data .about_icon.buttons:hover {
	    padding: 0px;
	}
	.about_icon.buttons:after {
	    content: unset;
	}
	.about_icon.buttons {
	    margin-right: 10px;
		padding: 0px;
	}
	.about_container {
	    display: flex;
	    margin-bottom: 10px;
	    align-items: center;
	    text-align: left;
	}
	.about_container h3, .about_container p{
	    margin: 0px;
	}
	.about_title a {
	    text-decoration: none;
	}
	/*.about_icon.buttons:hover{
	    padding: 10px 15px;
	}
	.about_icon.buttons:hover:before{
	    width: 100%;
	    height: 100%;
	    border-top-color: #455d58;
	    border-left-color: #455d58;
	}
	.about_icon.buttons:hover:after{
	    width: 100%;
	    height: 100%;
	    border-bottom-color: #455d58;
	    border-right-color: #455d58;
	    top: 0px;
	}*/
	.about_description {
	    padding-bottom: 30px;
	}
/*--------------------------------------------------------------
# About Section end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Our Portfolio start
--------------------------------------------------------------*/
	.our_portfolio_container {
	    position: relative;
	    overflow: hidden;
	    width: 340px;
	}
	.parent.our_portfolio_caption {
	    padding: 10px;
	}
	.wrappers.our_portfolio_section {
	    display: flex;
	    flex-wrap: wrap;
	    padding: 20px 0px;
		justify-content: center;
	}
	.our_portfolio_main_title h2 {
	    margin: 0px;
	}
	div#our_portfolio_info {
	    padding: 50px 10px;
	}
	.our_port_containe h3, .our_port_containe p {
	    margin: 0px;
	}
	.protfolio_images img {
	    transition: all .55s cubic-bezier(.645,.045,.355,1);
	}
	.our_portfolio_container:hover img {
	    transform: scale(1.2);
	}
	.our_portfolio_container:hover .our_port_containe {
	    opacity: 1;
	    visibility: visible;
	}
	.our_port_containe {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	    padding: 1.563rem;
	    display: flex;
	    opacity: 0;
	    visibility: hidden;
	    transition: all 0.5s ease 0s;
	    z-index: 1;
	    flex-direction: row-reverse;
	    justify-content: space-between;
	    align-items: flex-end;
	}
	.our_port_containe:before {
	    position: absolute;
	    content: "";
	    opacity: 0.9;
	    right: 43%;
	    bottom: 37px;
	    width: 100%;
	    height: 100%;
	    /*background-color: #c4cfde;*/
	    -webkit-transform: rotate(345deg) scale(0.8);
	    transform: rotate(-35deg) scale(0.8);
	    border-radius: 25px;
	    -webkit-transition: all 0.5s ease 0s;
	    transition: all 0.5s ease 0s;
	}
	.our_portfolio_container:hover .our_portfolio_title {
	    opacity: 1;
	    visibility: visible;
	    transform: translateY(0);
	}
	.our_portfolio_title {
	    opacity: 0;
	    transform: translateY(-150%);
	    padding: 0;
	    visibility: hidden;
	    text-align: right;
	    transition: all .75s cubic-bezier(.645,.045,.355,1);
	}
	.our_portfolio_container:hover .our_portfolio_btn {
	    opacity: 1;
	    visibility: visible;
	    transform: translateY(0);
	}
	.our_portfolio_btn {
	    position: absolute;
	    top: 25px;
	    left: 25px;
	    opacity: 0;
	    transform: translateY(150%);
	    text-align: center;
	    overflow: hidden;
	    visibility: hidden;
	    transition: all .75s cubic-bezier(.645,.045,.355,1);
	}
	.our_portfolio_btn a {
	    width: 36px;
	    height: 36px;
	    line-height: 35px;
	    display: inline-block;
	    border-radius: 100px;
	}
	.our_portfolio_container:hover .our_port_containe:after {
	    opacity: 0.75;
	    visibility: visible;
	}
	.our_port_containe:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #16181c;
	    opacity: 0;
	    visibility: hidden;
	    z-index: -1;
	    transition: all .75s cubic-bezier(.645,.045,.355,1);
	}
	.our_portfolio_btn a:hover i {
	    transform: rotate(360deg);
	}
	.our_portfolio_btn a i {
	    transition: all 0.5s ease 0s;
	}
/*--------------------------------------------------------------
# Our Portfolio end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# our services start
--------------------------------------------------------------*/
	.heading_main_title{
		display: flex;
		align-items: center;
	}
	span.separator {
	    border: 1px solid #E48632;
	    width: 100%;
	}
	.heading_main_title h2 {
	    flex: 0 0 auto;
	    width: auto;
	    max-width: 100%;
	    padding-right: 30px;
	}
	.our_services_section {
	    padding: 50px 10px;
	}	
	.our_services_section_data {
	    display: flex;
	    flex-wrap: wrap;
	    text-align: center;
	    justify-content: center;
	    padding: 30px 0px;
	}
	.our_services_data {
	    height: 100%;
	    padding: 75px 35px 60px 35px;
	    text-align: left;
	    border-radius: 0.313rem;
	    /*position: relative;*/
	    z-index: 0;
	    overflow: hidden;
	    -webkit-transition: all .35s cubic-bezier(.645,.045,.355,1);
	    transition: all .35s cubic-bezier(.645,.045,.355,1);
	}
	.card {
	    width: 325px;
	    border-radius: 6px;
	    margin: 10px;
	    background: #273641;
    	color: #ffffff;
	}
	.card:hover {
		background: #eee;
    	color: #273641;
	}

	.card {
	    position: relative;
	    transform-style: preserve-3d;
	    transition: all 1s ease-in-out;
	}
	.card .side {
	    backface-visibility: hidden;
	    border-radius: 6px;
	    position: relative;
	    overflow: hidden;
	}
	.card .back {
	    text-align: center;
	    transform: rotateY(180deg);
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    padding: 10px;
	}
	.card .back .our_services_data{
		padding:20px;
	}
	.card:hover {
	    transform: rotateY(180deg);
	}
	.card .back .our_services_data .our_services_img {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: -60px;
	    font-size: 228px;
	    opacity: 0.2;
	}
	.our_services_title h3{
		margin:0px;
	}
	.side.services-section-wrep .our_services_data {
	    text-align: center;
	}
	.side.services-section-wrep .our_services_img i {
	    font-size: 50px;
	}
	/*.our_services_section .card:hover .side.services-section-wrep {
	    display: none;
	}*/
	.our_services_section a {
	    text-decoration: none !important;
	}
/*--------------------------------------------------------------
# our services end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
	.our_team_data {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;   
	    padding: 30px 0px; 
	}
	.our_team_container {
	    width: 260px;
	    margin: 0px 6px;
	    margin-bottom: 20px;
	}
	.our_team_img {
	    width: 100%;
	    overflow: hidden;
	    display: block;
	}
	.our_team_img img {
	    width: 100%;
	}
	.our_team_img:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 97%;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 0;
	}
	.our_team_contain_info {
		display: none;
	    position: absolute; 
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    text-align: center;
	    overflow: hidden;
	    border-radius: 0 0 10px 10px;
	    -webkit-transition: all .3s ease-in-out;
	    transition: all .3s ease-in-out;
	}
	.our_team_container:hover .our_team_contain_info {
		display: block;
	}
	.our_team_social_icon {
	    padding: 1.25rem 2.15rem;
	    overflow: hidden;
	}
	.our_teams_contain {
	    padding: 15px;
	    position: relative;
	    z-index: 1;
	    text-align: center;
	}
	.our_team_container:hover .our_team_img:after {
	    opacity: 0.5;
	    visibility: visible;
	    background-color: #000;
	}
	.our_team_container_data{
	    position: relative;
	    z-index: 0;
	    display: block;
	    -webkit-transition: .3s cubic-bezier(0.23, 0.07, 0.58, 1);
	    transition: .3s ease-in-out;
	}
	.our_team_container:hover .our_team_info {
	    -webkit-transform: translateY(15px);
	    transform: translateY(15px);
	    -webkit-transition-delay: .3s;
	    -webkit-transition-delay: .3s;
	}
	.our_team_container:hover .our_team_img img {
	    filter: blur(1px);
	}
	.our_team_social_icon > .dddd {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    z-index: 0;
	}
	.dddd {
	    margin-top: -0.75rem;
	}
	.dddd a {
	    opacity: 0;
	    visibility: hidden;
	    -webkit-transform: translateY(150px);
	    transform: translateY(150px);
	    margin-top: 0.56rem;
	    -webkit-transition: .5s ease-in-out;
	    transition: .5s ease-in-out;
	}
	.our_team_container:hover .dddd a {
	    opacity: 1;
	    visibility: visible;
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	}
	.our_team_title h3{
	    margin: 0px;
	}
	.our_team_social_icon i {
	   font-size: 18px;
	    padding: 13px;
	    background: aliceblue;
	    color: #000;
	    border-radius: 100px;
	    width: 40px;
	    transition: 0.6s;
	    height: 40px;
	}
	.our_team_social_icon a {
	    text-decoration: none;
	}
	.our_team_social_icon i:hover {
	    transform: rotateZ( 360deg );
	    border-radius: unset;
	}
	.our_team_section {
	    padding: 50px 10px;
	}
	.our_team_title a{
	    text-decoration: none;
	}
	.our_team_section a {
	    text-decoration: none !important;
	}
/*--------------------------------------------------------------
# Our Team end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# our testimonial start
--------------------------------------------------------------*/
	.our_testimonial_data {
	    padding: 5px;
	}
	.our_testimonial_section {
	    padding: 50px 10px;
	}
	.our_testimonial_data_info {
	    display: flex;
	}
	.testimonials_image {
	    margin-right: 40px;
	    width: 40%;
	}
	.image_testimonials {
	    padding: 30px 30px 40px 30px;
	    border-radius: 10px;
	    background: #212428;
	}
	.testimonials_disc {
	    width: 60%;
	    color: #fff;
	    border-radius: 10px;
	    position: relative;
	    text-align: left;
	}
	.testimonials_disc:before {
	    content: '';
	    position: absolute;
	    width: 51px;
	    height: 5px;
	    background: #212428;
	    left: -43px;
	    z-index: -1;
	    top: 150px;
	}
	.our_testimonials_container {
		margin-top: 90px;
	    display: flex;
	    flex-direction: column-reverse;
	    background: #212428;
	    padding: 20px;
	    border-radius: 10px;
	}
	.testimonials_disc:after {
	    content: "\f10e";
	    font: normal normal normal 14px/1 'FontAwesome';
	    font-size: 60px;
	    padding-right: 6px;
	    font-weight: 900;
	    position: absolute;
	    top: 0px;
	    color: #212428;
	}
	.testimonials_title {
	    border-bottom: 1px solid #16181c;
	}
	.testimonials_title h3, .testimonials_title h4 {
	    margin: 0px;
	    margin-bottom: 10px;
	}
	.our_testimonial_section .owl-carousel .owl-nav button.owl-prev, .our_testimonial_section .owl-carousel .owl-nav .owl-next {
	    position: absolute;
	    padding: 17px !important;
	    line-height: 19px;
	    font-size: 25px;
	    top: 0;
	}
	.our_testimonial_section .owl-carousel .owl-nav button.owl-prev {
	    right: 105px;
	    left: 950px;
	}
	.home .our_testimonial_section .owl-nav.disabled {
	    display: block !important;
	}
	.our_testimonial_section button.owl-dot {
	    width: 12px;
	    height: 12px;
	    padding: 5px;
	    background: #212428 !important;
	    border-radius: 100px;
	    flex-direction: column-reverse;
	    flex-wrap: nowrap;
	    margin: 2px;
	    margin-top: 20px;
	}
	.our_testimonial_section button.owl-dot.active {
	    background: #ff014f !important;
	}
	.our_testimonial_section .owl-dots{
		text-align: center;
	}
/*--------------------------------------------------------------
# our testimonial end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# our sponsors start
--------------------------------------------------------------*/
	.our_sponsors_section {
	    padding: 50px 10px;
	}
	.our_sponsors_contain {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    padding: 30px 0px;
	}
	.our_sponsors_img {
	    padding: 20px;
	    margin: 2px;
	    border:1px solid #dddddd;
	}
	.our_sponsors_section .our_sponsors_contain:hover .owl-nav.disabled {
	    display: block !important;
	}
	.our_sponsors_section .our_sponsors_contain:hover .owl-carousel .owl-nav button.owl-prev, .our_sponsors_section .our_sponsors_contain:hover .owl-carousel .owl-nav button.owl-next {
	    position: absolute;
	    padding: 17px !important;
	    line-height: 19px;
	    font-size: 25px;
	    top: 40px;
	}
/*--------------------------------------------------------------
# our sponsors end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
	.mobile_menu {
	    display: none;
	}
	.mobile_menu {
	    position: fixed;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: 0;
	    overflow-y: auto;
	    z-index: 99999;
	    overflow-x: hidden;
	}
	.mobile_menu #primary-menu {
	    margin-top: 59px;
	}
/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# footer start
--------------------------------------------------------------*/
	.scrollingUp.is-active {
	    visibility: visible;
	    opacity: 1;
	}
	.scrolling-btn {
	    position: fixed !important;
	    bottom: 15px;
	    right: 15px;
	    width: 46px;
	    height: 40px;
	    line-height: 16px;
	    cursor: pointer;
	    text-align: center;
	    transition: .9s;
	    border-radius: 2px;
	    font-size: 20px;
	    border: none;
	    z-index: 5;
	    visibility: hidden;
	    opacity: 0;
	}
	.scrollingUp:after{
	    content: unset;
	}
	.widget_footer {
	    display: flex;
	}
	.widget_footer ul {
	    margin: 0px;
	    padding: 0px;
	    list-style: none;
	}
	.widget_section {
	    width: 25%;
	    text-align: left;
	    padding: 15px;
	}
	.widget_section h1, .widget_section h2, .widget_section h3, .widget_section h4, .widget_section h5, .widget_section h6 {
	    margin: 0px;
	    margin-bottom: 20px;
	}
	footer#colophon{
		padding: 10px;
		text-align: center;
	}
/*--------------------------------------------------------------
# footer end
--------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
	 /*--------------------------------------------------------------
    # navbar
    --------------------------------------------------------------*/
    .call_button_info nav.main-navigation ul {
        display: none;
    } 
    .main-navigation .menu-item-has-children > a:after{
        content: '' !important;
    }
    button.dropdown-toggle:hover {
        padding: 5px;
    }
    button#mobilepop {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }
    /* # navbar close
    --------------------------------------------------------------*/

    .main_containor.grid_view {
	    grid-template-columns: repeat(1, 1fr) !important; 
	}
	.topbar_info_data {
	    display: flex;
	    flex-direction: column;
	}
	.sharksdesign_container_info.right_sidebar {
	    display: flex;
	    flex-direction: column;
	}
	.sharksdesign_container_info.right_sidebar aside.widget-area, .sharksdesign_container_info.right_sidebar main#primary {
		width: 100%;
	}
	body.admin-bar .site-header .main_site_header.is-sticky-menu {
        top: 0px;
    }
    .sharksdesign_container_info.left_sidebar {
	    display: flex;
	    flex-direction: column;
	}
	.sharksdesign_container_info.left_sidebar aside.widget-area, .sharksdesign_container_info.left_sidebar main#primary {
		width: 100%;
	}
	.home main#primary {
	    margin: 0px;
	}
	.home .main_containor{
		margin: 10px;
	}
	.blog_title {
	    padding: 0px 10px;
	}
	.header_topbar_info, .header_social_icon {
	    margin: 7px;
	}
	.main_site_header {
	    padding: 10px;
	}
	main#primary{
		margin: 0px !important;
	}
	.comment-navigation .nav-links, .posts-navigation .nav-links, .post-navigation .nav-links {
	    display: flex;
	    flex-direction: column;
	}
	.home .our_testimonial_section .owl-nav.disabled{
		display: none !important;
	}

	/*--------------------------------------------------------------
	# our testimonial */
	.our_testimonial_section .owl-nav.disabled{
		display: none !important;
	}
	.our_testimonial_data_info {
	    display: flex;
	    flex-direction: column;
	}
	.testimonials_image, .testimonials_disc {
	    width: 100%;
	}
	.testimonials_disc:before,.testimonials_disc:after{
		content: unset;
	}
	.our_testimonials_container {
	    margin: 10px;
	}
	.image_testimonials{
		padding: 20px;
		margin: 10px;
	}
	.our_testimonial_section {
	    padding: 50px 10px;
	}

	/*--------------------------------------------------------------
	# our team */
	.our_team_section {
	    padding: 50px 10px;
	}
	.our_team_container {
    	width: 332px;
    }

    /*--------------------------------------------------------------
	# our services */
    .our_services_section {
	    padding: 50px 10px;
	}
	.card {
    	width: 334px;
    }

    /*--------------------------------------------------------------
	# our portfolio */
    div#our_portfolio_info {
	    padding: 50px 10px;
	}
	.our_portfolio_container{
		width: 334px;
	}

	/*--------------------------------------------------------------
	# about section */
	.about_featured_image, .about_container_data {
	    width: 100%;
	    padding: 0px !important;
	}
	.about_section_info {
	    padding: 50px 10px;
	}
	.about_container_data {
	    text-align: center;
	}
	.about_section_container {
	    display: flex;
	    flex-direction: column;
	}
	.section-featured-wrep{
		width: 330px;
	}
	.featured-section_data {
	    padding: 50px 10px;
	}
	.hentry-inner .entry-container{
		margin: 0px;
	}
	/*--------------------------------------------------------------
	# sponsors section */
	.our_sponsors_data {
	    padding: 0px 10px;
	}
	.our_sponsors_section .owl-nav {
	    display: none;
	}
	.our_sponsors_img {
	    margin: 0px 10px;
	}
}



.scroll-element {
  min-height: 250px;
  height: 100%;
}

.scroll-caption {
  margin: 1rem;
}
/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-11 23:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
